<div *ngIf="player" class="player">
    <div class="logo">
        <!-- Div will have CSS controlling the size/background to match the system -->
    </div>
    <div class="charName">Character name: {{player.name}}</div>
    <div class="charRace">Race: {{player.race}}</div>
    <div class="charAlign">Alignment: {{player.allignment}}</div>
    <div class="charClass">Class: {{player.dndClass}}</div>
    <ul>
        <li>
            <span>
                Strength: {{player.attributes.str}} ({{displayAttributeBonus(player.attributes.str)}})
            </span>
            <button (click)="handleRoll(player,Attribute.STR)">
                Roll
            </button>
            <span>
                {{strRoll}}
            </span>
        </li>
        <li>Dexterity: {{player.attributes.dex}} ({{displayAttributeBonus(player.attributes.dex)}})</li>
        <li>Constitution: {{player.attributes.con}} ({{displayAttributeBonus(player.attributes.con)}})</li>
        <li>Intelligence: {{player.attributes.int}} ({{displayAttributeBonus(player.attributes.int)}})</li>
        <li>Wisdom: {{player.attributes.wis}} ({{displayAttributeBonus(player.attributes.wis)}})</li>
        <li>Charisma: {{player.attributes.cha}} ({{displayAttributeBonus(player.attributes.cha)}})</li>
    </ul>
    <p>Skills</p>
    <ul>
        <li *ngFor="let skill of allSkills; index as i; trackBy: trackByFn">
            {{skill.name}} ({{calcPlayerSkillBonus(player,skill)}})

        </li>
    </ul>
</div>