.nav ul {
    border: 1px #000;
}

.charInfo {
    border: 1px #000;
}

.logo {
    border: 1px #000;
}

.charName {
    border: 1px #000;
}

.charAlign {
    border: 1px #000;
}

.charBG {
    border: 1px #000;
}

.charClass {
    border: 1px #000;
}

.charAttr {
    border: 1px #000;
}

.charAttribute {
    border: 1px #000;
}

.charSaves {
    border: 1px #000;
}

.charProf {
    border: 1px #000;
}

.charAttrSaves {
    border: 1px #000;
}

.charSkills {
    border: 1px #000;
}

.charACBlock {
    border: 1px #000;
}

.charAC {
    border: 1px #000;
}

.charInitative {
    border: 1px #000;
}

.charSpeed {
    border: 1px #000;
}

.charHP {
    border: 1px #000;
}
